canvas {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    background-color: white;
    border-radius: 10px;

}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --green: rgb(33, 216, 146);
    --violet: rgb(144, 36, 156);


    font-size: small;
}

body {
    background-color: rgb(32, 34, 136);
}

#load_container {
    background-color: #0058;
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    /* z-index: 10000; */
}

#load {
    border: 5px solid rgb(255, 255, 255);
    border-top-color: #0000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: load 2s linear infinite;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#cvDiv {
    left: 0;
    top: 0;
    width: 70%;
    position: absolute;
    height: 100%;
    background-color: var(--green);

}

#btni {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#menuDiv {
    padding: 2%;
    top: 0;
    right: 0;
    width: 26%;
    position: absolute;
    height: 96%;
    background: linear-gradient(var(--green), var(--violet))
}

input, button {
    padding: 10px;
    border-radius: 10px;
}

button {
    background-color: aquamarine;
    font-weight: bold;
    margin: 10px;
}

ol {
    list-style: decimal-leading-zero;
    background-color: #0002;
    padding: 20px;
    list-style-position: inside;
}

li {
    color: rgb(254, 255, 255);
    margin: 10px;

}