canvas {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    background-color : white;
    border-radius : 10px;

}

#cvDiv {
    left: 0;
    top: 0;
    width: 70%;
    position: absolute;
    height: 100%;
    background-color: var(--green);

}

#menuDiv {
    padding: 2%;
    top: 0;
    right: 0;
    width: 26%;
    position: absolute;
    height: 96%;
    background: linear-gradient(var(--green), var(--violet))
}

body {
    background-color: rgb(32, 34, 136);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --green: rgb(33, 216, 146);
    --violet: rgb(144, 36, 156);


    font-size: large;
}

input, button {
    padding: 10px;
    border-radius: 10px;
}

#btni {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    background-color: aquamarine;
    font-weight: bold;
    margin: 10px;
}

ol {
    list-style: decimal-leading-zero;
    background-color: #0002;
    padding: 20px;
    list-style-position: inside;
}

li {
    color: rgb(254, 255, 255);
    margin: 10px;

}